$cBg: #0d0c22;
$cText: #fff;
$cBgSoft: #2d2b42;
$cTextSoft: #e5e5e5;
$cBtn: #3673fd;

body{
    background-color: $cBg;
    color: $cText;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    display: block;
    transition: all .3s ease;
}

ul{
    list-style: none;
}
.container{
    margin: 0 auto;
    max-width: 1536px;
    width: 100%;
    padding: 0 12px;
    position: relative;
}

.btn{
    cursor: pointer;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    transition: all .3s ease;
    font-size: 16px;
    font-weight: 600;
    &.btn-primary{
        background: $cBtn;
        color: $cText;
        &:hover{
            color: $cBtn;
            background: $cText;
        }
    }
    &.btn-secondary{
        color: $cBtn;
        background: $cText;
        &:hover{
            color: $cText;
            background: $cBtn;
        }
    }
}
