.hero-wrapper{
  display: flex;
  gap: 100px;
  padding: 50px 0;
  .text-container{
    flex: 1;
  }
  .brands{
    position: relative;
    height: 50px;
    width: 500px;
    filter: grayscale(1);
  }
  .image-container{
    flex: 1;
    position: relative;
  }
  h1{
    font-size: 96px;
    margin-bottom: 50px;
  }
  p{
    font-size: 20px;
    margin-bottom: 50px;
  }
  .button-wrapper{
    display: flex;
    gap: 20px;
  }
}
