.blog-page{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0;
}
.blog-card{
    width: calc(100% / 3 - 14px);
  margin-bottom: 20px;
  @media(max-width: 1200px){
    width: calc(100% / 2 - 10px);
  }
  @media(max-width: 768px){
    width: 100%;
  }
  position: relative;
  .top-part{
    display: flex;
    align-items: center;
    .img-wrap{
      position: relative;
      width: 90%;
      height: 400px;
      img{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    time{
      display: block;
      transform: rotate(-90deg);
      font-size: 12px;
      margin-left: auto;
      text-wrap: nowrap;
    }
  }
  .text-part{
    padding-top: 20px;
    max-width: 90%;
    width: 100%;
    h2{
      font-size: 24px;
      margin-bottom: 20px;
    }
    p{
      font-size: 16px;
      font-weight: 300;
      color: $cTextSoft;
      margin-bottom: 20px;
    }
    .blog-link{
      text-decoration: underline;
      transition: all .3s ease-in;
      &:hover{
        color: $cBtn;

      }
      &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}
